
h1{
    text-align: center;
}

.mty{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mty img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}


mtyf{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
